slide_in {
  @keyframes slide_in {
    from {
      margin-right: -85px;
    }
    to {
      margin-right: 0px;
    }
  }
}

slide_out {
  @keyframes slide_out {
    from {
      margin-right: 0px;
    }
    to {
      margin-right: -85px;
    }
  }
}

appear {
  @keyframes appear {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

rotation_in {
  @keyframes rotation_in {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}

rotation_out {
  @keyframes rotation_out {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
}

spinner {
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

load {
  @keyframes load {
    100% {
      opacity: 0;
      z-index: -10;
    }
  }
}
