@mixin shadow {
  box-shadow: 0px 1px 5px #a8a7a7;
}

@mixin hover_shadow {
  box-shadow: 0px 1px 20px #646464;
}

@mixin h2_style {
  font-size: $h2-size;
  font-weight: bold;
}

@mixin flex_direction_column {
  display: flex;
  flex-direction: column;
}

/* menu image */
@mixin menu_img {
  .menu_img {
    max-width: 100%;
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  .enchante__img {
    max-height: 250px;
  }
}

@mixin fa {
  .far {
    color: black;
  }
  .fas {
    color: transparent;
    background-image: linear-gradient(to right, $primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 300ms;
  }
  &:hover .fas {
    opacity: 1;
  }
}

@mixin dots {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin responsive-sm {
  @media only screen and(min-width: $responsive-sm) {
    @content;
  }
}
@mixin responsive-md {
  @media only screen and(min-width: $responsive-md) {
    @content;
  }
}
@mixin responsive-lg {
  @media only screen and(min-width: $responsive-lg) {
    @content;
  }
}
