.description {
  background-color: $box-background;
  text-align: center;
  padding: 30px;
  h1 {
    width: 230px;
    margin: 0 auto 0 auto;
    font-family: $text-style;
  }

  @include responsive-sm {
    h1 {
      width: 100%;
    }
  }
}
